/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        main {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&kp GRAVE                    &kp N1  &kp N2  &kp N3            &kp N4         &kp N5                                &kp N6                 &kp N7     &kp N8     &kp N9   &kp N0         &kp BACKSPACE
&kp TAB                      &kp Q   &kp W   &kp E             &kp R          &kp T                                 &kp Y                  &kp U      &kp I      &kp O    &kp P          &kp BACKSLASH
&kp ESCAPE                   &kp A   &kp S   &kp D             &kp F          &kp G                                 &kp H                  &kp J      &kp K      &kp L    &kp SEMICOLON  &kp SQT
&mt LEFT_SHIFT LEFT_BRACKET  &kp Z   &kp X   &kp C             &kp V          &kp B         &kp MINUS    &kp EQUAL  &kp N                  &kp M      &kp COMMA  &kp DOT  &kp FSLH       &mt RSHFT RIGHT_BRACKET
                                             &kp LEFT_CONTROL  &kp LEFT_META  &kp LEFT_ALT  &kp SPACE    &kp ENTER  &mt LEFT_CONTROL HOME  &lt 2 END  &tog 1
            >;
        };

        mac {
            bindings = <
&trans  &trans  &trans  &trans  &trans        &trans                           &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans        &trans                           &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans        &trans                           &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans        &trans         &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &kp LEFT_ALT  &kp LEFT_META  &trans    &trans  &trans  &trans  &trans
            >;
        };

        fn {
            bindings = <
&kp F12  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5                    &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11
&trans   &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans   &trans
&trans   &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans   &trans
&trans   &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans   &trans
                         &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };
    };
};
